# Node.js
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# Build output
/build/

# VS Code settings
.vscode/

# Mac system files
.DS_Store

# IDE-specific files
.idea/

# Optional npm package lock files
package-lock.json
yarn.lock

# Jest test coverage
/coverage/

# Webpack bundle and cache files
.cache/

# Npm and Yarn logs
*.log

# TypeScript cache files
*.tsbuildinfo
